{{- if .Values.networkPolicy.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "azdo-proxy.fullname" . }}
  labels:
    {{- include "azdo-proxy.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "azdo-proxy.selectorLabels" . | nindent 8 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: source-controller
      ports:
        - port: 8080
    - from:
        - namespaceSelector:
            matchLabels:
              name: prometheus
      ports:
        - port: 9090
  egress:
    - to:
        - ipBlock:
            cidr: 0.0.0.0/0
            except:
              - 10.0.0.0/8
              - 172.16.0.0/12
              - 192.168.0.0/16
    - to:
        - namespaceSelector: {}
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - port: 53
          protocol: UDP
{{- end }}
