name: Go
on: [push]
jobs:
  build:
    runs-on: ubuntu-16.04
    name: Test
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
      - run: make test
